# Virtual Environment
venv/
.venv/

# Environment variables / secrets
.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local database
*.db
*.sqlite
*.sqlite3

# Data generated locally
data/raw/*
data/processed/*
data/vectorstore/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/vectorstore/.gitkeep